rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }

    function isMyItem() {
      return resource.data.userRef != null
        && resource.data.userRef
        == /databases/$(database)/documents/users/$(request.auth.uid)
    }

    function isRequestMyItem() {
      return request.resource.data.userRef != null
        && request.resource.data.userRef
        == /databases/$(database)/documents/users/$(request.auth.uid)
    }

    function isPublicItem() {
      return resource.data.isPublic == true
    }

    match /users/{userId} {
      allow get: if isUserAuthenticated(userId);
      allow create: if isUserAuthenticated(userId);
      allow update: if isUserAuthenticated(userId);
    }

    match /items/{itemId} {
      allow create: if isRequestMyItem();
      allow get, update, delete: if isMyItem();
      allow read, update: if isMyItem() || isPublicItem();
    }
  }
}